@font-face {
    font-family: 'Glitch Goblin';
    src: url('./font/glitch-goblin/GlitchGoblin.eot');
    src: url('./font/glitch-goblin/GlitchGoblin.eot?#iefix') format('embedded-opentype'),
        url('./font/glitch-goblin/GlitchGoblin.woff2') format('woff2'),
        url('./font/glitch-goblin/GlitchGoblin.woff') format('woff'),
        url('./font/glitch-goblin/GlitchGoblin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* button hover effect */
@keyframes FadeIn{
    from{
        background-color: #091833;
        color:  #33DDe7;
    }
    to{
        background-color: 	#33DDe7;
        color: black;
    }
}
*{
    margin: 0;
    padding: 0;
    color:  #33DDe7;
    font-family: 'Glitch Goblin';
}
html, body {
    height:100%;
}
.mainContainer{
    background-color: #091833;
}

.header{
    width: 100%;
    height: 100px;
    margin: auto 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#primaryPaintColor,
#backgroundPaintColor{
    height: 40px;
}
.header p{
   font-size: 40px;
   color:white;
}

.panelControls{
    margin: 12px;
    padding: 8px;
    font-size: 18px;
}
button{
    border-radius: 5px;
    background-color: #091833;
    border: none;
}

button:hover{
    animation: FadeIn 0.35s ease-in-out forwards;
}
/* grid size button */
.panelControls:nth-child(7){
    margin-top: 40px;
}
input[type="range"]{
    align-self: center;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
}
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 0.5rem;
  }
  /******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: #053a5f;
    height: 0.5rem;
}
/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;    
 }
 /***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    background-color: #5cd5eb;
    height: 1.2rem;
    width: 1.2rem;
}
.panel{
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
}
.childContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 950px;
    justify-content: space-between;
}

.mainContainer{
    display: flex;
    justify-content: space-evenly;
    min-height: 100%;
}
.playContainer{
    height: 600px;
    width: 600px;
    display: flex;
}
.gridContainer{
    height: inherit;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    background-color: #d1f7ff;
}
.gridSquare{
    flex-grow: 1;
    flex-shrink: 1;
}
.panelControls > input{
    flex: 1;
}
.panelControls > p{
    flex: 2;
    margin: auto;
    margin-left: 20px;
}
.colorPicker{
    display:flex;
    justify-content: space-between;
}
.colorPicker:nth-child(1){
    margin-bottom: 0;
}
.colorPicker:nth-child(2){
    margin-top: 0;
}
.gridOn{
    border: 1px solid #d1f7ff;
    border-radius: 1px;
}
.gridSquareColorChange{
    background-color: white;
}
.selector {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.btnOn{
    background-color:#0abdc6;
    color: black;
}
.btnOn:hover{
    -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}

.playContainer,
.header,
.panel{
    border-radius: 10px;
    border: 3px solid #0abdc6;
}