*{
    margin: 0;
    padding: 0;
}
html, body {
    height:100%;
    background-color: rgba(172, 255, 47, 0.353);
}
.playContainer{
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    border: 3px solid aqua;

}
.mainContainer{
    display: flex;
    justify-content: space-evenly;
    min-height: 100%;
}
.gridContainer{
    flex: 1;
    background-color: aqua;
    height: inherit;
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    gap: 1px; 
}
.gridSquare{
    color: white;
    background-color: black;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1px;
}

.gridSquareColorChange{
    background-color: white;
}